#titlebar {
	text-align: left;
	font-weight: bold;
	background-color: #9dddd4;
	color: white;
}

body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
}

.post_new {
	margin-left: 5%;
	margin-right: 5%;
	width: 70%;
}

.post_new input[type=file] {
	display: inline;
	margin-top: 10px;
	float: left;
	margin-left: 2%;
	margin-right: 15%;
}

.post_new h4 {
	float: left;
	text-align: left;
	margin-right: 10px;
}

.questions_form {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.questions_form h5 {
	text-align: left;
	margin-right: 10px;
}

.question {
	margin-bottom: 5%;
}

.question_optional {
	margin-bottom: 5%;
}

.question input[type="text"] {
	width: 70%;
	margin-bottom: 5px;
}

.question_optional input[type="text"] {
	width: 70%;
	margin-bottom: 5px;
}

.option {
	text-align: left;
	margin-top: 20px;
}

.option label.radio-line {
	margin-right: 20%;
	font-weight: 200;
}

.option label.checkbox-inline {
	font-weight: 200;
	display: block;
	margin-left: 3%;
	margin-bottom: 2%;
}

h5+span {
	display: none;
}

.showTooltip {
	background-color: black;
	color: white;
	padding: 5px;
	margin-top: 1.3em;
	position: absolute;
	max-width: 200px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.warning_msg {
	color: red;
	border-top: 1px solid grey;
	
}